@import palette
// $cadetblue
// $gainsboro
// $pastelgray
// $ashgrey
// $nickel

.aboutpage

  .about-dwell

    p

  .bios

    .bio-person
      width: 85%
      margin: 50px auto

      .img
        margin-bottom: 20px

        img
          border-radius: 50%
          display: block
          width: 70%
          margin: 0 auto

      .info

        .name
          text-align: center
          font-size: 1.8rem
          margin-bottom: 10px

        .title
          font-weight: 400
          text-align: center
          margin-bottom: 20px

        .bio-p
          margin-bottom: 20px

        .contact

          p
            margin-bottom: 7px

          p:first-child
            font-weight: 400
            // margin-bottom: 10px

          .phone
            display: flex
            flex-direction: row
            justify-content: flex-start

          .email
            display: flex
            flex-direction: row
            justify-content: flex-start

            a
