@import palette
// $cadetblue
// $gainsboro
// $pastelgray
// $ashgrey
// $nickel
// $offwhite

nav
  background-color: $cadetblue

  .nav-wrap
    padding: 5px 
    display: flex
    flex-direction: row
    justify-content: space-between

    .logo-header
      display: flex
      flex-direction: column
      justify-content: center

      img
        width: 200px
        margin: 0 auto

    .nav-links
      display: flex
      flex-direction: column
      justify-content: space-between

      .social-links
        align-self: flex-end


        a
          color: $offwhite
          transition: 0.2s

          i

        a:first-child:hover,a:first-child:active
          // facebook
          color: #3b5998
          transition: 0.2s

        a:nth-child(2):hover, a:nth-child(2):active
          // twitter
          color: #00aced
          transition: 0.2s

        a:nth-child(3):hover, a:nth-child(3):active
          // pinterest
          color: #cb2027
          transition: 0.2s

        a:nth-child(4):hover, a:nth-child(4):active
          // linkedin
          color: #007bb6
          transition: 0.2s
