@import palette
// $cadetblue
// $gainsboro
// $pastelgray
// $ashgrey
// $nickel
// $offwhite

nav
  // border: 1px solid $nickel
  background-color: $cadetblue
  // overflow: hidden

  .nav-wrap
    padding: 20px 5px
    display: flex
    flex-direction: row
    justify-content: space-between

    .logo-header
      display: flex
      flex-direction: column
      justify-content: center

      img
        width: 200px
        margin: 0 auto

    .nav-links
      // border: 1px solid $cadetblue
      padding: 10px
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around

      .nav-link-page
        margin: 10px
