@import palette
// $cadetblue
// $gainsboro
// $pastelgray
// $ashgrey
// $nickel
// $offwhite

.page-hood
  min-height: 100vh
  border: 1px solid $cadetblue

  .page-wrap
    width: 90%
    margin: 0 auto

    .hood-title
      padding-top: 30px
      margin-bottom: 20px

      p
        font-family: 'Arvo', serif
        text-align: center
        font-size: 2rem

    .hood-info
      margin-bottom: 30px

      .main, .extra
        margin-bottom: 10px



      .extra-hide
        display: none

      .read-more, .read-less
        color: $cadetblue
        text-decoration: underline
        text-align: right

    .hood-extras
      margin-bottom: 30px

      .restaurants, .attractions, .shopping, .housing

        p
          font-family: 'Arvo', serif

        // list-wrap
        div

          ul
            list-style: none

            li
